
hs_err_pid*

*.log
*.out

target
logs
classes
test
test-output

# Eclipse project files
.settings
.classpath
.project
.metadata
.mymetadata
.checkstyle

# IDEA
.idea
.gradle
*.iml
*.ipr
*.iws

# Netbeans
nbproject
